<section class="counter section-lg section-bg">
    <div class="counter-bg text-margin-lg border-radius-lg block-padding-xl">
        <div class="container container-md">
            <div class="counter__inner border-radius-xl text-center flex flex-justify-center">
                <div class="counter__item flex-col flex-col-3">
                    <div class="counter__item-icon text-margin-bottom-xs">
                        <span class="icon-emotsmile"></span>
                    </div>
                    <div class="counter__item-number heading-4 text-margin-bottom-xs">
                        1250
                    </div>
                    <div class="counter__item-description heading-6">
                        Happy Client
                    </div>
                </div> <!-- counter__item -->
                <div class="counter__item flex-col flex-col-3">
                    <div class="counter__item-icon text-margin-bottom-xs">
                        <span class="icon-emotsmile"></span>
                    </div>
                    <div class="counter__item-number heading-4 text-margin-bottom-xs">
                        1250
                    </div>
                    <div class="counter__item-description heading-6">
                        Happy Client
                    </div>
                </div> <!-- counter__item -->
                <div class="counter__item flex-col flex-col-3">
                    <div class="counter__item-icon text-margin-bottom-xs">
                        <span class="icon-like"></span>
                    </div>
                    <div class="counter__item-number heading-4 text-margin-bottom-xs">
                        21
                    </div>
                    <div class="counter__item-description heading-6">
                        Project Complete
                    </div>
                </div> <!-- counter__item -->
                <div class="counter__item flex-col flex-col-3">
                    <div class="counter__item-icon text-margin-bottom-xs">
                        <span class="icon-cup"></span>
                    </div>
                    <div class="counter__item-number heading-4 text-margin-bottom-xs">
                        1250
                    </div>
                    <div class="counter__item-description heading-6">
                        Cup of Coffee
                    </div>
                </div> <!-- counter__item -->
            </div>
        </div>
    </div>
</section> <!-- end section counter -->
