<section class="first__screen">
    <div class="container container-md">
        <div class="first__screen-inner">
            <div class="first__screen-title-left"></div>
            <h1 class="first__screen-title title title-xl" >I'm a <span class="typed" data-loop-count="1" data-elements="Web Designer, Web Developer, Photographer"></span></h1>
            <div class="first__screen-title-right title title-m"></div>
            <div class="first__screen-text">
                <a href="#" class="button button-primary button-md text-color-dark-50">Связаться со мной</a>
            </div>
        </div>
    </div>
    <div id="particles-js" class="particles"></div>
</section> <!-- end first__screen -->