<section class="portfolio section-lg">
    <div class="container container-md">
        <div class="heading-3 text-center text-margin-bottom-xs">My Portfolio</div>
        <p class="text-center text-max-width-700 text-color-dark-gray-700">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
        <div class="portfolio__inner block-margin-top-md">
            <ul class="portfolio__nav flex flex-justify-center nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="text-margin-right-xs ">
                    <a class="portfolio__nav-item button button-sm button-primary-outline active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
                </li>
                <li class="text-margin-right-xs ">
                    <a class="portfolio__nav-item button button-sm button-primary-outline" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Creative</a>
                </li>
                <li class="text-margin-right-xs">
                    <a class="portfolio__nav-item button button-sm button-primary-outline" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Photography</a>
                </li>
                <li class="text-margin-right-xs">
                    <a class="portfolio__nav-item button button-sm button-primary-outline" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Personal</a>
                </li>
            </ul>
            <div class="portfolio__content block-margin-top-md tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                    <div  data-aos="fade-left"
                          data-aos-duration="1000"
                          class="portfolio__list flex">
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                    </div> <!-- end portfolio__list flex -->
                </div>
                <div  class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div
                            class="portfolio__list flex">
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                        <div class="flex-col-4 text-padding-xs">
                            <div class="portfolio__item hover-box-transform border-radius-md">
                                <div class="portfolio__item-img">
                                    <a href="#">
                                        <picture>
                                            <source srcset="../../assets/img/home/coder.webp" type="image/webp">
                                            <img src="../../assets/img/home/coder.jpg" alt="">
                                        </picture>
                                        <span class="portfolio__item-icon icon-camera"></span>
                                    </a>
                                </div>
                                <div class="portfolio__item-content text-padding-md text-center">
                                    <div class="heading-4 text-font-weight-bold">
                                        <a href="#" class="text-color-primary-300 ">The Usefulness</a>
                                    </div>
                                    <div class="portfolio__item-category text-margin-top-xs">
                                        <a href="#" class="text-underline">Photography</a>
                                    </div>
                                </div>
                            </div> <!-- end portfolio__item -->
                        </div> <!-- end flex-col-4 -->
                    </div> <!-- end portfolio__list flex -->
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div>
            </div>
        </div>
    </div>
</section> <!-- end section portfolio -->