<section class="section-lg timeline bg-color-dark-gray-50">
    <div class="container container-md">
        <h3 class="heading-3 text-center text-margin-bottom-xs">What Do I Offer ?</h3>
        <p class="text-center text-max-width-700 text-color-dark-gray-700">
            Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.
        </p>
        <div class="timeline__star block-margin-top-lg text-center">
            <span class="timeline__star-icon icon_star_alt"></span>
        </div>
        <div class="timeline__list block-margin-top-lg">
            <div data-aos="fade-down" data-aos-duration="1000" class="timeline__item block-margin-bottom-sm grid grid-gap-4 grid-col-2">
                <div class="timeline__item-year flex flex-justify-end">
                    <div class="timeline__item-col hover-box-transform border-radius-md">
                        <div class="heading-6">2015-2018</div>
                    </div>
                </div>
                <div class="timeline__item-event flex flex-justify-start">
                    <div class="timeline__item-col hover-box-transform border-radius-md">
                        <div class="timeline__item-title heading-4">
                            UX Designer
                        </div>
                        <div class="timeline__item-subtitle">Vivo - Senior Designer</div>
                        <p class="timeline__item-description">The generated injected humour, or non-characteristic words etc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                    </div>
                </div>
            </div>  <!-- timeline__item -->

            <div data-aos="fade-left" data-aos-duration="1000" class="timeline__item block-margin-bottom-sm grid grid-gap-4 grid-col-2">
                <div class="timeline__item-event flex flex-justify-end text-right">
                    <div class="timeline__item-col hover-box-transform border-radius-md">
                        <div class="timeline__item-title heading-4">
                            UX Designer
                        </div>
                        <div class="timeline__item-subtitle">Vivo - Senior Designer</div>
                        <p class="timeline__item-description">Oppo - HR Manager Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="timeline__item-year flex flex-justify-start">
                    <div class="timeline__item-col hover-box-transform border-radius-md">
                        <div class="heading-6">2012 - 2015</div>
                    </div>
                </div>
            </div>  <!-- timeline__item -->
            <div data-aos="fade-right" data-aos-duration="1000" class="timeline__item block-margin-bottom-sm grid grid-gap-4 grid-col-2">
                <div class="timeline__item-year flex flex-justify-end">
                    <div class="timeline__item-col hover-box-transform border-radius-md">
                        <div class="heading-6">2015-2018</div>
                    </div>
                </div> <!-- end timeline__item-year -->
                <div class="timeline__item-event flex flex-justify-start">
                    <div class="timeline__item-col hover-box-transform border-radius-md">
                        <div class="timeline__item-title heading-4">
                            UX Designer
                        </div>
                        <div class="timeline__item-subtitle">Vivo - Senior Designer</div>
                        <p class="timeline__item-description">The generated injected humour, or non-characteristic words etc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                    </div>
                </div>  <!-- end timeline__item-event -->
            </div>  <!-- timeline__item -->
        </div> <!-- timeline__list -->
    </div> <!-- container -->
</section> <!-- end section timeline -->