<div class="post__item-small">
    <div class="post__item-small-img">
        <a href="{{ post.url }}">
            <picture>
                <source srcset="{{ post.image }}" type="image/webp">
                <source srcset="{{ post.image }}" type="image/png">
                <source srcset="{{ post.image }}" type="image/jpg">
                <source srcset="{{ post.image }}" type="image/jpeg">
                <img src="{{ post.image }}" alt="{{ post.description }}"  >
            </picture>
        </a>
    </div>
    <div class="post__item-small-content">
        <div class="post__item-small-title text-font-weight-bold">
            <a class="hover-color-primary-300" href="{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="post__item-small-date date-mc">
            <span>{{ post.date | date: "%-d-%m-%Y" }}</span>
        </div>
    </div>
</div>