<section class="contact section-lg bg-color-dark-gray-50">
    <div class="container container-md">
        <h3 class="text-center">Contact Form</h3>
        <div class="contact__inner flex flex-justify-center block-margin-top-lg">
            <div class="contact__item flex-col flex-col-4 text-center">
                <div class="contact__item-icon text-margin-bottom-sm">
                    <span class="icon_phone"></span>
                </div>
                <div class="contact__item-title heading-4 text-margin-bottom-sm ">Phone</div>
                <div class="contact__item-description text-margin-bottom-md text-color-dark-gray-700">Promising development turmoil inclusive education transformative community</div>
                <div class="contact__item-link">
                    <a href="tel: +38000000000 " class="text-color-primary-300 heading-5">+38 068 884 994</a>
                </div>
            </div> <!-- end contact__item -->
            <div class="contact__item flex-col flex-col-4 text-center">
                <div class="contact__item-icon text-margin-bottom-sm">
                    <span class="icon_mail_alt"></span>
                </div>
                <div class="contact__item-title heading-4 text-margin-bottom-sm ">Email</div>
                <div class="contact__item-description text-margin-bottom-md text-color-dark-gray-700">Promising development turmoil inclusive education transformative community</div>
                <div class="contact__item-link">
                    <a href="mailto: example@mail.com" class="text-color-primary-300 heading-5">example@mail.com</a>
                </div>
            </div> <!-- end contact__item -->
            <div class="contact__item flex-col flex-col-4 text-center">
                <div class="contact__item-icon text-margin-bottom-sm">
                    <span class="icon_pin_alt"></span>
                </div>
                <div class="contact__item-title heading-4 text-margin-bottom-sm ">Location</div>
                <div class="contact__item-description text-margin-bottom-md text-color-dark-gray-700">Promising development turmoil inclusive education transformative community</div>
                <div class="contact__item-link">
                    <a href="#" class="text-color-primary-300 heading-5">View on Google map</a>
                </div>
            </div> <!-- end contact__item -->
        </div>
        <div class="flex flex-justify-center">
            <form class="form form-md" id="form-4">
                <div class="form-body">
                    <label class="form-item" for="form-item-type-email-4">
                        <input class="form-input" type="email" id="form-item-type-email-4" placeholder="test@test.com">
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-name-4">
                        <input class="form-input" type="text" id="form-item-type-name-4" placeholder="Your name">
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-textarea-4">
                        <textarea class="form-input" id="form-item-type-textarea-4" placeholder="Message"></textarea>
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-phone-4">
                        <span class="form-error-message"></span>
                        <input class="form-input" type="password" id="form-item-type-phone-4" placeholder="password">
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <div class="form-item-submit">
                        <input class="button button-primary button-sm" type="submit">
                    </div>
                </div> <!-- form-body -->
            </form> <!-- form -->
        </div> <!-- row -->
    </div><!-- container -->
</section> <!-- end section contact-me  -->