<section class="hobbies section-lg">
    <div class="container container-md">
        <div class="heading-3 text-center text-margin-bottom-xs">Hobbies & Interests</div>
        <p class="text-center text-max-width-700 text-color-secondary-for-mode">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
        <div class="grid grid-col-4 grid-gap-1-5 block-margin-top-lg">
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->
            <div class="hobbies__item hover-box-transform flex flex-align-items-center border-radius-md">
                <div class="hobbies__item-icon text-padding-sm">
                    <span class="icon-calendar"></span>
                </div>
                <div class="hobbies__item-content text-padding-xs">
                    <span class="heading-6">Developing</span>
                </div>
            </div> <!-- end hobbies__item -->

        </div> <!-- end grid-->
    </div> <!-- end container-->
</section> <!-- end section hobbies-->
