<section class="skills">
    <div class="skills__inner flex">
        <div class="skills__img flex-col-4">
            <img src="../../assets/img/home/coder.jpg" alt="">
        </div>
        <div class="skills__content flex-col-8">
            <div class="heading-3 text-center text-margin-bottom-xs">Work Expertise</div>
            <p class="text-center text-max-width-700 text-color-secondary-for-mode">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
            <div class="skills__content-inner flex block-margin-top-lg">

                <div class="skills__nav flex-col flex-col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="skills__nav-item button button-sm button-primary-outline active " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">UX Design</a>
                        <a class="skills__nav-item button button-sm button-primary-outline text-margin-top-xl" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Language Skill</a>
                        <a class="skills__nav-item button button-sm button-primary-outline text-margin-top-xl" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Web development</a>
                    </div>
                </div> <!-- end skills__nav -->
                <div class="flex flex-align-items-center flex-col flex-col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane flex flex-justify-center fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">HTML</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:84%;">
                                            <div class="progress-value heading-6 text-color-primary-300">84%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">CSS</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:60%;">
                                            <div class="progress-value heading-6 text-color-primary-300">60%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">JS</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:50%;">
                                            <div class="progress-value heading-6 text-color-primary-300">50%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                        </div>  <!-- end tab-pane -->
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">English</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:25%;">
                                            <div class="progress-value heading-6 text-color-primary-300">25%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">Russian</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:90%;">
                                            <div class="progress-value heading-6 text-color-primary-300">90%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">Ukrainian</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:70%;">
                                            <div class="progress-value heading-6 text-color-primary-300">70%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                        </div> <!-- end tab-pane -->
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">Photoshop</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:40%;">
                                            <div class="progress-value heading-6 text-color-primary-300">40%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                            <div class="progress-item block-margin-bottom-xs">
                                <h5 class="text-margin-bottom-sm">Figma</h5>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-color-primary-300" style="width:50%;">
                                            <div class="progress-value heading-6 text-color-primary-300">50%</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end progress-item -->
                        </div> <!-- end tab-pane -->
                    </div>  <!-- end tab-content -->
                </div>
            </div>
        </div> <!-- skills__content -->

    </div> <!-- skills__inner -->
</section> <!-- end section skills  -->
