<div class="typography__demo demo-page">
    <div class="container container-md">
        <div class="demo-rom row">
            <div class="demo-row-description">
                <h1>H1 Heading</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias, architecto asperiores beatae consequatur cum cupiditate
                    ea illo ipsa ipsum maiores maxime necessitatibus nihil nisi
                    numquam obcaecati, odit officia quo, voluptates. </p>
            </div>
        </div>
        <div class="demo-rom row">
            <div class="demo-row-description">
                <h2>H2 Heading</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias, architecto asperiores beatae consequatur cum cupiditate
                    ea illo ipsa ipsum maiores maxime necessitatibus nihil nisi
                    numquam obcaecati, odit officia quo, voluptates. </p>
            </div>
        </div>
        <div class="demo-rom row">
            <div class="demo-row-description">
                <h3>H3 Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias, architecto asperiores beatae consequatur cum cupiditate
                    ea illo ipsa ipsum maiores maxime necessitatibus nihil nisi
                    numquam obcaecati, odit officia quo, voluptates. </p>
            </div>

        </div>
        <div class="demo-rom row">
            <div class="demo-row-description">
                <h4>H4 Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias, architecto asperiores beatae consequatur cum cupiditate
                    ea illo ipsa ipsum maiores maxime necessitatibus nihil nisi
                    numquam obcaecati, odit officia quo, voluptates. </p>
            </div>
        </div>
        <div class="demo-rom row">
            <div class="demo-row-description">
                <h5>H5 Heading</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias, architecto asperiores beatae consequatur cum cupiditate
                    ea illo ipsa ipsum maiores maxime necessitatibus nihil nisi
                    numquam obcaecati, odit officia quo, voluptates. </p>
            </div>
        </div>
        <div class="demo-rom row">
            <div class="demo-row-description">
                <h6>H6 Heading</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias, architecto asperiores beatae consequatur cum cupiditate
                    ea illo ipsa ipsum maiores maxime necessitatibus nihil nisi
                    numquam obcaecati, odit officia quo, voluptates. </p>
            </div>
        </div>

        <div class="demo-rom row">
            <div class="demo-row-description">
                <h3>HTML Text Elements</h3>
                <p> <span class="text-font-weight-bold">bold</span> <span class="text-strike">strike</span>Lorem <b>ipsum</b> dolor sit amet, <span class="text-font-style-italic">italic </span>consectetur adipisicing elit.
                    <a href="#" class="link-hover">link hover </a> <a href="#">link </a> Alias, architecto asperiores beatae consequatur cum cupiditate
                    ea <mark>mark</mark> illo ipsa ipsum maiores maxime necessitatibus nihil nisi
                    numquam obcaecati, odit officia quo, voluptates. </p>
            </div>
        </div>
        <div class="demo-rom row">
            <div class="demo-row-description">
                <h3>Ordered & unOrdered List</h3>
                <div class="demo-row-description">
                    <ul class="list list-marked">
                        <li>Lorem Ipsum is simply dummy </li>
                        <li>Lorem Ipsum is simply dummy </li>
                        <li>Lorem Ipsum is take dummy </li>
                        <li>Lorem Ipsum is simply dummy </li>
                        <li>Lorem Ipsum is simply dummy </li>
                    </ul>
                    <ol class="list list-ordered">
                        <li>Lorem Ipsum is simply dummy </li>
                        <li>Lorem Ipsum is simply dummy </li>
                        <li>Lorem Ipsum is take dummy </li>
                        <li>Lorem Ipsum is simply dummy </li>
                        <li>Lorem Ipsum is simply dummy </li>
                    </ol>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="section-lg">
    <div class="container container-md">
        <h2 class="text-center">Form Variants</h2>
        <div class="demo-row">
            <form class="form form-sm">
                <h3 class="text-center">Registration form</h3>
                <div class="form-body">
                    <label class="form-item" for="form-item-type-username">
                        <span class="form-item-title heading-5 text-center">Username</span>
                        <input class="form-input" type="text" id="form-item-type-username" minlength="3" required placeholder="username">
                        <ul class="list list-marked list-input-requirements">
                            <li>At least 3 characters long</li>
                            <li>Must only contain letters and numbers (no special characters)</li>
                        </ul>
                    </label>
                    <label class="form-item" for="form-item-type-password">
                        <span class="form-item-title heading-5 text-center">Password</span>
                        <input class="form-input" type="password" id="form-item-type-password" maxlength="100" minlength="8" required placeholder="password">
                        <ul class="list list-marked list-input-requirements">
                            <li>At least 3 characters long</li>
                            <li>Must only contain letters and numbers (no special characters)</li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </label>
                    <label class="form-item" for="form-item-type-password-repeat">
                        <span class="form-item-title heading-5 text-center">Repeat Password</span>
                        <input class="form-input" type="password" id="form-item-type-password-repeat" maxlength="100" minlength="8" required placeholder="password">
                    </label>
                    <div class="form-item-submit">
                        <input class="button button-primary button-sm" type="submit">
                    </div>
                </div>
            </form>
        </div>

        <div class="demo-row">
            <form class="form form-sm" id="form-2">
                <h3 class="text-center">Registration form</h3>
                <div class="form-body">
                    <label class="form-item" for="form-item-type-username-2">
                        <input class="form-input" type="text" id="form-item-type-username-2" placeholder="Username">
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-email-2">
                        <input class="form-input" type="email" id="form-item-type-email-2" placeholder="test@test.com">
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-password-2">
                        <span class="form-error-message"></span>
                        <input class="form-input" type="password" id="form-item-type-password-2" placeholder="password">
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-password-repeat-2">
                        <span class="form-error-message"></span>
                        <input data-repeat="false" class="form-input password-repeat" type="password" id="form-item-type-password-repeat-2" placeholder="password">
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <div class="form-item-submit">
                        <input class="button button-primary button-sm" type="submit">
                    </div>
                </div>
            </form>
        </div>

        <div class="demo-row">
            <form class="form form-sm" id="form-3">
                <h3 class="text-center">Login form</h3>
                <p class="text-center">Enter your e-mail and password below to log in to your account and use the benefits of our app.</p>
                <div class="form-body">
                    <label class="form-item" for="form-item-type-email-3">
                        <input class="form-input" type="email" id="form-item-type-email-3" placeholder="test@test.com">
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-password-3">
                        <span class="form-error-message"></span>
                        <input class="form-input" type="password" id="form-item-type-password-3" placeholder="password">
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <p><a href="#" class="linl link-underline text-color-dark-600">I forgot my password</a></p>
                    <div class="form-item-submit">
                        <input class="button button-primary button-sm" type="submit">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="section-lg bg-color-dark-gray-50">
    <div class="container container-md">
        <div class="demo-row ">
            <form class="form form-md" id="form-4">
                <h3 class="text-center">Contact Form</h3>
                <div class="form-body">
                    <label class="form-item" for="form-item-type-email-4">
                        <input class="form-input" type="email" id="form-item-type-email-4" placeholder="test@test.com">
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-name-4">
                        <input class="form-input" type="text" id="form-item-type-name-4" placeholder="Your name">
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-textarea-4">
                        <textarea class="form-input" id="form-item-type-textarea-4" placeholder="Message"></textarea>
                        <span class="form-error-message"></span>
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <label class="form-item" for="form-item-type-phone-4">
                        <span class="form-error-message"></span>
                        <input class="form-input" type="password" id="form-item-type-phone-4" placeholder="password">
                        <svg class="form-svg-icon form-icon-success hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg class="form-svg-icon form-icon-error hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </label>
                    <div class="form-item-submit">
                        <input class="button button-primary button-sm" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
