<main class="page-content blog block-margin-top-md block-margin-bottom-lg">
    <div class="container container-md">
        <div class="blog__inner flex  grid grid-sidebar grid-gap-2">
            <div class="blog-grid-inner">
                <div class="flex">
                    {% for post in site.categories.linux limit:10 offset:0 %}
                    {% include posts/post__item-col-12.html %}
                    {% endfor %}
                </div>
            </div>
            {% include std/sidebar.html %}
        </div>
    </div>
</main>
