<div class="buttons__demo demo-page">
    <div class="container container-md">
        <div class="demo-rom row">
            <div class="demo-row-description text-center">
                <h4>Button Sizes</h4>
                <p>3 different sizes: large, default and small.</p>
            </div>
            <div class="demo-col col col-12 buttons__demo-list">
                <div class="buttons__demo-item"><button class="demo-button button button-lg button-primary">Large size</button></div>
                <div class="buttons__demo-item"><button class="demo-button button button-md button-primary">Medium size</button></div>
                <div class="buttons__demo-item"><button class="demo-button button button-sm button-primary">small size</button></div>
            </div>
        </div>
        <div class="demo-rom row">
                <div class="demo-row-description text-center">
                    <h4>Button Styles</h4>
                    <p>4 different styles: primary, secondary, dark gray, primary outline and light outline</p>
                </div>
                <div class="demo-col col col-12 buttons__demo-list">
                    <div class="buttons__demo-item"><button class="demo-button button button-md button-primary">Primary</button></div>
                    <div class="buttons__demo-item"><button class="demo-button button button-md button-secondary">Secondary</button></div>
                    <div class="buttons__demo-item"><button class="demo-button button button-md  button-dark-gray">Dark gray</button></div>
                    <div class="buttons__demo-item"><button class="demo-button button button-md button-primary-outline">Primary outline</button></div>
                    <div class="buttons__demo-item"><button class="demo-button button button-md button-secondary-outline">Secondary outline</button></div>
                </div>
        </div>
        <div class="demo-rom row">
            <div class="demo-row-description text-center">
                <h4>Buttons with Shadow</h4>
                <p>Enhance your buttons with a shadow effect.</p>
            </div>
            <div class="demo-col col col-12 buttons__demo-list">
                <div class="buttons__demo-item"><button class="demo-button button button-md button-ghost">Ghost</button></div>
                <div class="buttons__demo-item"><button class="demo-button button button-md button-primary button-shadow">Shadow</button></div>
            </div>
        </div>
        <div class="demo-rom row">
            <div class="demo-row-description text-center">
                <h4>Buttons with Icons</h4>
                <p>Buttons are fully integrated with 900+ icons.</p>
            </div>
            <div class="demo-col col col-12 buttons__demo-list">
                <div class="buttons__demo-item"><button class="demo-button button button-md button-secondary button-icon-right ti-user"><span class="button-text">Icon right</span></button></div>
                <div class="buttons__demo-item"><button class="demo-button button button-md button-primary-outline button-icon-right ti-user"><span class="button-text">Icon right</span></button></div>
                <div class="buttons__demo-item"><button class="demo-button button button-md button-primary button-icon-left ti-user"><span class="button-text">Icon left</span></button></div>
                <div class="buttons__demo-item"><button class="demo-button button button-lg button-secondary-outline button-icon-left ti-user"><span class="button-text">Icon left</span></button></div>
            </div>
        </div>
    </div>
</div>