
@media screen and (max-width: 1600px)
  .skills
    &__img
      flex-basis: 100%
      max-width: 100%
      max-height: 400px
      min-height: 100%
    &__content
      flex-basis: 100%
      max-width: 100%


@media screen and (max-width: 1336px)
  // .block
  //   &-margin-top-lg
  //   &-margin-top-lg
  //   &-margin-top-lg
  //   &-margin-top-lg


@media screen and (max-width: 1200px)
@media screen and (max-width: 1024px)
  body
    font-size: 0.8rem
  .header
    flex-wrap: wrap
    &__menu
      display: none
  .blog
    &__inner
      grid-template-columns: 6fr 4fr
  .blog-related
    .flex-col-6
      max-width: 100%
      flex: 0 0 100%
@media screen and (max-width: 920px)
  .blog
    &__inner
      grid-template-columns: 5fr 4fr


@media screen and (max-width: 768px)
  .blog
    &__inner
      grid-template-columns: 1fr
